.hero-section {
    @apply flex flex-col items-center justify-center bg-hero-voting bg-cover bg-no-repeat bg-bottom md:bg-center h-[45vh];
    .hero-title {
        @apply tracking-widest text-3xl font-semibold text-white uppercase;
    }
}

.film-category {
    @apply mt-5;
    .cat-title {
        @apply text-3xl text-custom-gold font-semibold;
    }
    .cat-desc {
        @apply text-lg font-light md:max-w-[72vw] mt-2;
    }
}

input:checked + label {
    border-color: black;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}